# ignore list

# Temp folder
**/__pycache__/
**/.mypy_cache/
dist/

# User data folder
brandlogo/
deltabest/
settings/
trackmap/
pacenotes/
tracknotes/
carsetups/

# pipenv stuff
Pipfile
Pipfile.lock

# pylint stuff
pylintrc

# local config file
*.json
*.csv
*.fuel

# random file
*.7z
*.zip
*.log
*.db
