[submodule "pyRfactor2SharedMemory"]
	path = thirdparty/pyRfactor2SharedMemory
	url = https://github.com/TinyPedal/pyRfactor2SharedMemory.git
[submodule "pyLMUSharedMemory"]
	path = thirdparty/pyLMUSharedMemory
	url = https://github.com/TinyPedal/pyLMUSharedMemory.git
[submodule "pyACCSharedMemory"]
	path = thirdparty/pyACCSharedMemory
	url = https://github.com/TinyPedal/pyACCSharedMemory.git
